<p style="color:#922B21">This page is for local coordination of the Biohack Academy 2017 in Perth (The University of Western Australia). For global BHA syllabus go to: <a href="http://biohackacademy.github.io/">http://biohackacademy.github.io/</a>.</p>



<h3>NEWS</h3>

<hr>

<blockquote>If you've missed any part of the BioHack Academy or want to brush up on skills: <a href="/catchup/">Catch Up here</a></blockquote>

<hr>

<h2>Welcome Biohackers!</h2>

<img src="images/BHA4_small.jpg" vspace=5 hspace=5 align=right width=250px/>

<p>"BioHack Academy 4 is once again going to rock the BioHack planet! Spread across four different continents you are going to build, use and share new biohack labs and practice how to hack biotechnology."<i>-- Waag Society</i></p>

<p>At UWA, we will join the BioHack Academy for the first time. We will tune into live-streamed lectures every week, and each week we will build one bio lab tool and try it out on some biomaterials. Short practicals will help you along the way to learn the necessary skills, but it will be up to you to explore them further and pursue your own personal goals. Toward the end of the course, you will start to drive your own ideas and projects.</p>

<p>Check out the <a href="https://biohackwa.github.io/course/">Course Structure here</a>!</p>

<h3>What, When, Where?</h3>
<p>The first day of BioHack Academy will start on the 31st January 2017 (4 PM in Room 3.04 (Billing's Room) EECE).</p>

<p>Practicals and open labs will be held in the School of Electrical, Elecronic and Computer Engineering, UWA, G.51 Laboratory.</p>

<p>Weekly lectures and the meeting (Tue 4-7pm) will be held in a 3rd floor Classroom for comfort: Room 3.04 (Billing's Room) EECE.</p>


<h3>Coordination</h3>
<p>The BioHack Academy is run by the Waag Society in Amsterdam. You will find the course overview, documents, designs and learning materials on their page <a href="http://biohackacademy.github.io/">http://biohackacademy.github.io/</a>.</p>

<p>This page (<a href="http://biohackwa.github.io/">http://biohackwa.github.io/</a>) will be used for local (UWA) content, news, communication and planning.
Please keep up to date with each website.
A daily schedule will be released shortly.</p>

<p>Join our facebook group for quick communication and organisation: <a href="https://www.facebook.com/groups/1240384866041296/">https://www.facebook.com/groups/1240384866041296/</a>.</p>

<h3>Before we begin...</h3>
<p>Before we start, please take care to review the necessary <a href="/course/preparations/">Preparations</a> for the course. This includes software, accounts/registrations and, perhaps, hardware, if you choose to get set up and working at home.</p>

<p>Local <a href="https://biohackwa.github.io/course/">Course Notes</a> is now available, and will be updated throughout the course.</p>




<!--<img src="{{ site.baseurl }}/bha3/img/yeastogram.png" width=740 />-->

