<h2>Welcome Biohackers!</h2>

<img src="images/BHA4_small.jpg" vspace=5 hspace=5 align=right />

<p>BioHack Academy 4 is once again going to rock the BioHack planet! Spread across four different continents you are going to build, use and share new biohack labs and practice how to hack biotechnology. <emph>-- Waag Society</emph></p>

<p>At UWA, we will join the BioHack Academy for the first time. We will tune into live-streamed lectures every week, and each week we will build one bio lab tool and try it out on some biomaterials. Short practicals will help you along the way to learn the necessary skills, but it will be up to you to explore them further and pursue your own personal goals. Toward the end of the course, you will start to drive your own ideas and projects.</p>

<h3>Coordination</h3>
<p>The BioHack Academy is run by the Waag Society in Amsterdam. You will find the course overview, documents, designs and learning materials on their page <a href="http://biohackacademy.github.io/">http://biohackacademy.github.io/</a>.</p>

<p>This page (<a href="http://biohackwa.github.io/">http://biohackwa.github.io/</a>) will be used for local (UWA) content, news, communication and planning.
Please keep up to date with each website.
A daily schedule will be released shortly.</p>

<p>A facebook group for BioHack Academy UWA will be up and linked soon</p>

<h3>Before we begin...</h3>
<p>Before we start, please take care to review the necessary <a href="/course/preparations/">Preparations</a> for the course. This includes software, accounts/registrations and, perhaps, hardware, if you choose to get set up and working at home.</p>

<p>Local <a href="https://biohackwa.github.io/course/">Course Notes</a> and other info will be available shortly.</p>

<h3>What, When, Where?</h3>
<p>The first day of BioHack Academy will start on the 31st January 2017 (~4 PM, more info TBA). The Academy will be mainly held in the School of Electrical, Elecronic and Computer Engineering, UWA, G.51 Laboratory. Weekly lectures may be held in a 3rd floor Classroom for comfort (TBA).</p>



<!--<img src="{{ site.baseurl }}/bha3/img/yeastogram.png" width=740 />-->

