<h2>Welcome Biohackers!</h2>

<!--<img src="images/BioHack Academy VI small.jpg" vspace=5 hspace=5 align=right />-->

<p>BioHack Academy 4 is once again going to rock the BioHack planet! Spread across four different continents you are going to build, use and share new biohack labs and practice how to hack biotechnology.</p>

<p>After completing this BioHack Academy you can grow
your own fuel, food, filaments, farmaceuticals, fragrances, fungi and much more funky bio stuff yourself. We’ll teach you how to join the bio revolution and build your own laboratoy using a Fablab, Maker/Hackspace or other shared machine shop.</p>

<p>Check out the <a href="/bha4/">Course Overview</a></p>
<p><a href="https://www.facebook.com/BioHack-Academy-587416504738662/?ref=bookmarks">Join our BHA Facebook group</a></p>

<h2>Partnerlabs</h2>
<p>As of the 31st of January 2017 the fourth BioHack Academy will take place. Registration has opened for following the course at:</p>
<ul>
	 <li><a href="http://biohackwa.com">BioHack Western Australia - Perth</a></li>
    <li><a href="https://www.waag.org/nl/event/biohack-academy-4">Waag Society's Open Wetlab - Amsterdam</a></li>
    <li><a href="http://meskenai.lt">M-Lab - Lithuania</a></li>
    <li><a href="http://www.bioclub.org">BioClub Tokyo - Japan</a></li>
    <li><a href="https://www.mmca.go.kr/eng/">National Museum of Modern and Contemporary Art - South Korea</a></li>
    <li><a href="http://szoil.org/wp/">Shenzhen Open Innovation Lab - China</a></li>
    <li><a href="https://www.unm.edu">University of New Mexico - USA</a></li>
</ul>

<h2>Previous editions</h2>
<p>Have a look at the result of previous editions</p>
<ul>
    <li><a href="{{ site.baseurl }}/biofactory/participants/documentation/">BHA1 documentation sites</a></li>
    <li><a href="{{ site.baseurl }}/bha2/participants/documentation/">BHA2 documentation sites</a></li>
    <li><a href="{{ site.baseurl }}/bha3/participants/documentation/">BHA3 documentation sites</a></li>
    <li><a href="http://www.github.com/biohackacademy">Open Source DIYBio lab equipment repositories</a></li>
</ul>



<!--<img src="{{ site.baseurl }}/bha3/img/yeastogram.png" width=740 />-->

